* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.container input {
    display: none;
}

/* IMAGES */

/* slider */
.container1 {
    position: relative;
    width: 100%;
    
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 0;

    /* overflow: hidden; */
}

/* images */
.images {
    display: flex;
    width: 100%;
}

.images img {
    width: 100%;
    transition: 0.4s ease-in;
}


/* TEXT + CONTROLS */
.container2 {
    display: grid;
    grid-template-areas: "txt ctr";
}

/* CAPTIONS */
.captions {
    display: flex;
    width: 100%;
    grid-area: txt;
}

.caption {
    display: none;
    width: 100%;
    height: 100%;
    transition: 0.4s ease-in;
}

.active {
    display: block;
}

/* CONTROLS */
.controls {
    display: flex;
    justify-content: flex-end;
    
    width: 100%;
    gap: 0.5rem;
    grid-area: ctr;
}

.control {
    height: 1.5rem;
    width: 1.5rem;

    border-radius: 50%;
    border: 0.25rem solid rgb(78, 60, 60);

    cursor: pointer;
    transition: all 0.3s ease;
}

.control:hover {
    background-color: rgb(78, 60, 60);
}

.control:active {
    background-color: rgb(78, 60, 60);
}

.control div {
    display: block;
    width: 170%;
    height: 170%;
    cursor: pointer;
}

/* SLIDER EFFECT */
#btn1:checked ~ .container1 .images #image1 {
    transform: translate(0);
}

#btn2:checked ~ .container1 .images #image2 {
    transform: translate(-100%);
}

#btn3:checked ~ .container1 .images #image3 {
    transform: translate(-200%);
}

#btn4:checked ~ .container1 .images #image3 {
    transform: translate(-300%);
}


